<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Rover Command Center</title>

	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

	<div class="header">
		<h1>Rover Command Center</h1>
	</div>

	<div class="status">
		<h2>Mission</h2>
		<p>IDLE</p>

	</div>

	<div class="status">
		<h2>Live GPS</h2>
		<p>Latitude: <span id="lat">---</span></p>
		<p>Longitude: <span id="lon">---</span></p>
		<p>Altitude: <span id="alt">---</span></p>
	</div>

	<div class="status">
		<h2>Battery</h2>
		<p>Unknown</p>
	</div>

	<div class="status">
		<h2>Latest Anomaly</h2>
		<p>None</p>
	</div>

	<script src="/static/js/script.js"></script>

</body>

</html>
