body{

background:#202124;

color:white;

font-family:Arial;

margin:0;

}

.header{

background:#2E7D32;

padding:20px;

text-align:center;

}

.status{

margin:30px;

padding:20px;

background:#303134;

border-radius:10px;

}
